@media screen and (max-width:670px){
        header .container{
        display: flex;
        flex-direction: row;
    }
    
    header .logo {
        margin-left: 2px;
        font-family: 'Lobster', cursive;
        font-size: 40px;
        }
    
    .menu {
        font-size: 0px;
        padding-right: 12px;
    }
    
    .menu i {
        padding-right: 4px;
        font-size:24px
    }

    .container {
        margin-left: 10px;
    }

    .chamada {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 4px;
    }
    .destaque {
        height: 240px;
    }

    .botao {
        font-size: 12px;
        padding: 4px;
    }

    .destaque .descricao {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .titulo {
        font-size: 36px;
    }

    .destaque .container {
        width: 70%;
    }

    .box-show h4 {
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        font-style: bold;
        font-stretch: ultra-condensed;
    }  

    .box-show h5 {
        font-size: 11px;
        font-family: 'Quicksand', sans-serif;
        font-style: italic;
        font-weight: 100;
        font-stretch: ultra-condensed;
    }
    footer {
        font-size: 11px;
    }     
}
@media screen and (min-width:1200px){
    .destaque .container {
        width: 25%;
    }
}